{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}
{% block content %}    
      <br>
      <br>
      <br>
      <br>
      <input class="form-control" style="width: 50%;margin: auto;" id="keyword" placeholder="Search..">
      <br>
      <table class="table table-borderless" style="width: 75%; margin: auto;background-color: gainsboro;" id="daftar_buku">  
        
      </table>
      <script type="text/javascript">
        $( document ).ready(function() {
          console.log( "ready!" );
          var head = "<thead> <tr> <th> No </th> <th> Judul </th> <th> Penulis </th> <th> Sampul </th> </tr> </thead>"
          $("#daftar_buku").append(head);
          var defa = "Batavia"
          $.ajax({
            url: 'data?q=' + defa,
            success: function(data) {
            var arr = data.items;
            for (i = 0; i < arr.length; i++) {
                  judul = arr[i].volumeInfo.title;
                  penulis = arr[i].volumeInfo.authors;
                  sampul = arr[i].volumeInfo.imageLinks.smallThumbnail;
                  console.log(judul);
                  console.log(penulis);
                  console.log(sampul);
                  var j = i+1;
                  $("#daftar_buku").append("<tr> <td>" + j + " <td>" + judul + "</td> <td>" + penulis + "</td> <td> <img src=" + sampul + "></td> </tr>" );
                }

            }
          })
        });
        $("#keyword").keyup(function(){
          var item = $("#keyword").val(); 
          console.log(item);
          $.ajax({
            url: 'data?q=' + item,
            success: function(data) {
              console.log(data);
              var arr = data.items;
              var head = "<thead> <tr> <th> No </th> <th> Judul </th> <th> Penulis </th> <th> Sampul </th> </tr> </thead>"
              $("#daftar_buku").empty();
              $("#daftar_buku").append(head);
              // console.log(arr);
              for (i = 0; i < arr.length; i++) {
                judul = arr[i].volumeInfo.title;
                penulis = arr[i].volumeInfo.authors;
                sampul = arr[i].volumeInfo.imageLinks.smallThumbnail;
                console.log(judul);
                console.log(penulis);
                console.log(sampul);
                var j = i+1;
                $("#daftar_buku").append("<tr> <td>" + j + " <td>" + judul + "</td> <td>" + penulis + "</td> <td> <img src=" + sampul + "></td> </tr>" );
              }
            }
          })
        });
      </script>
{% endblock content %}