{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}
{% block content %}
<br>
<br>    
<br>
<br>
{% if user.is_authenticated %}
<div class="text-center" style="background-color: lightgrey;width: 50%;margin: auto;border-radius: 25px;padding: 20px;">
    <h1>Hi {{user}}</h1>
    <a href="/logout"><h3>Logout</h3></a>
</div>
{% else %}
<div class="text-center" style="background-color: lightgrey;width: 50%;margin: auto;border-radius: 25px;padding: 20px;">
      <a href="/login"><h1>LOGIN DULU BOS</h1></a>
</div>
{% endif %}
{% endblock content %}