{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load crispy_forms_tags %}
{% endblock meta %}
{% block content %}
<br>
<br>    
<br>
<br>
<div style="background-color: lightgrey;width: 50%;margin: auto;border-radius: 25px;padding: 20px;">
      <form method="POST" class="form-group">
          {% csrf_token %}
          {{form | crispy}}
          <p>Already have an account? Login <a href="/login">here</a></p>
          <div class = "text-center">
            <button type="submit" class="btn btn-success" >Register</button>
          </div>
      </form>
</div>
{% endblock content %}